.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34vw;
    height: 45vh;
    border-radius: 5px;
    margin: 0px 120px;
    margin-bottom: 0px;
    margin-left: 16%;
    border-radius: 30px;
    position: relative;
    z-index: 3;
    


    border: 1px solid rgb(125, 125, 125);

    
    .header {
        position: relative;
        z-index: 3;
        font-size: 7rem;
        text-transform: uppercase;
        font-weight: 800;
        margin-top: -30px;
        color: #efbf03;
        transform: scaleY(0.8);

    }

    .albumCardInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        --animate-duration: 1.5s;
        padding: 20px;

        input {
            width: 28vw;
            border: none;
            border-radius: 10px;
            margin: 10px 0;
            padding: 10px 10px;
            font-size: 1.2rem;
            color: white;
            background-color: #121212;
            transition: all 0.3s ease-in-out;
            outline: none;
            text-align: center;

            &:focus {
                border: 1px solid #efbf03;
            }
        }

        button {
            position: absolute;
            bottom: 20px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            border-radius: 10px;
            border: 1px solid gray;
            padding: 15px 20px;
            text-transform: uppercase;

            background-color: transparent;
            font-size: 1.2rem;
            margin-top: 8px;
            cursor: none;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #efbf03;
                color: black;
                border: 1px solid #efbf03;
            }
            

        }
        .active {
            -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(255, 255, 255);
        }
    }

    
}

.remove {
    display: none !important;
}


@keyframes fadeInRight {
    from {
        
        transform: translateX(1000px);
    }
    to {
    }
}
