

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .listCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgb(62, 62, 62);
        width: 90vw;
        margin: 10px;
        padding: 20px;

        .remove {
            display: none !important;
        }

        .editInput {
            display: flex;
            align-items: center;
            svg {
                position: relative;
                z-index: 1;
                font-size: 3rem;
                margin-left: -70px;
                transition: all 0.3s ease-in-out;
                margin-top: 10px;
    
                &:hover {
                    color: #efbf03;
                }
            }
    
            input {
                transform: scaleY(0.9);
                margin: 0;
    
                border: none;
                background-color: transparent;
                color: white;
                font-size: 5rem;
                font-weight: 800;
                text-transform: uppercase;
                margin-left: 20px;
                -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: rgb(255, 255, 255);
                padding: 5px 10px;
                margin-top: 12px;
                border: 1px solid rgb(89, 89, 89);
                border-radius: 20px;
                outline: none;
    
                &:focus {
                    outline: none;
                    border: 1px solid #efbf03;
                }
            }
        }

        

        

        .title {
            color: black;
            margin: 0;
            font-size: 5rem;
            -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(255, 255, 255);
            font-weight: 800;
            transform: scaleY(0.9);
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;

            margin-left: 20px;
        }

        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;

            p {
                border: 1px solid white;
                border-radius: 10px;
                padding: 5px 15px;

                transition: all 0.3s ease-in-out;

                &:hover {
                    border: 1px solid #efbf03;
                    background-color: #efbf03;
                    color: black;
                }
            }
        }

        &:hover .title, &:active .title {
            -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(255, 255, 255);
        }
        
        .button {
            font-size: 1.5rem;
            color: white;
            margin-right: 20px;
            text-transform: uppercase;
            font-weight: 600;
        }

    }
}

.remove {
    display: none !important;
}








// media query for mobile
@media screen and (max-width: 425px) {



    .listContainer {
 

        .listCard {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .editInput {
                
                svg {
                    position: relative;
                    z-index: 1;
                    font-size: 2.3rem;
                    margin-left: 0px;
                    transition: all 0.3s ease-in-out;
                    margin-top: 10px;
    
                    &:hover {
                        color: #efbf03;
                    }
                }
    
                input {
                    font-size: 2rem;
    
                    margin-left: 0px;
                    margin: 5px;
    
                    padding: 5px 10px;
                    margin-top: 12px;
                    border-radius: 10px;
                    outline: none;
                    width: 80%;
    
                    &:focus {
                        outline: none;
                        border: 1px solid #efbf03;
                    }
                }
            }
            

            

            .title {
                font-size: 2rem;
                margin-left: 0px;
            }

            .options {
                display: grid;
                grid-template-columns: repeat(3, auto);
                justify-content: center;
                justify-items: center;
                align-items: center;
                
                margin: 0px;
                p {
                    font-size: 1.1rem;

                }
            }



        }
    }

}